<!--
  DEWS UI/UX IDE - Build Result - v1.5
  # PageID: haha
  # PageTitle: haha
  # Server: http://localhost:8080/
-->

<div class="dews-ui-condition-panel">
  <ul class="required-area">
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <input id="TextBox1" name="TextBox1" type="text" class="dews-ui-textbox basic" />
      </span>
    </li>
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <input type="text" id="Codepicker1" name="Codepicker1" class="dews-ui-codepicker basic" data-dews-help-code="HH0" data-dews-code-field="HH0" data-dews-text-field="HH0" data-dews-help-title="asdffdsf" data-dews-help-custom="true" data-dews-help-view-url="~/codehelp/MA/HH0" data-dews-help-size="largebig" data-dews-ajax="true" />
      </span>
    </li>
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <button id="aa" class="dews-ui-button">Button</button>
      </span>
    </li>
  </ul>
</div>
<div class="dews-ui-container-panel" style="overflow: visible;" data-dews-fit-bottom="true">
  <div class="dews-container-item" data-dews-position="normal">
    <div id="Grid1" class="dews-ui-grid"></div>
  </div>
</div>

<style>
  
</style>
<script>
  dews.ready(function () {
    var self = this;

    
    
    self.dataSource1 = dews.ui.dataSource('dataSource1', {
      grid: true,
      schema: {
        model: {
          fields: [
            { field: 'AA', editable: false, dataType: 'string' }, 
            { field: 'bb', editable: false, dataType: 'string' }, 
            { field: 'field', editable: false, dataType: 'string' }, 
            { field: 'field2', editable: false, dataType: 'string' }, 
            { field: 'field3', editable: false, dataType: 'string' }, 
            { field: 'field1', editable: false, dataType: 'string' }, 
            { field: 'field4', editable: false, dataType: 'string' }
          ]
    
        }
      },
      data: [
      {
        "AA": "1",
        "bb": null
      },
      {
        "AA": "2",
        "bb": null
      }
    ]
    });
    
    
    dews.ui.mainbuttons.add.click(function() {
        // TODO: 그리드에 데이터를 추가합니다.
         self.Grid1.addRow();
    });
    self.$aa.on('click', function() {
      alert( self.Grid1.dataItems().length);
    
    });
    dews.ui.grid(self.$Grid1, {
      dataSource: self.dataSource1,
      height: 175,
      sortable: false,
      checkable: false,
      columns: [
        {
          field: 'AA',
          title: 'AA',
          width: 60
        },
        {
          field: 'field333',
          title: 'title',
          width: 360,
          columns: [
            {
              field: 'bb',
              title: 'bb',
              width: 60
            },
            {
              field: 'field',
              title: 'title'
            },
            {
              field: 'field2',
              title: 'title'
            },
            {
              field: 'field3',
              title: 'title'
            }
          ]
        },
        {
          field: 'field333',
          title: 'title',
          width: 200,
          columns: [
            {
              field: 'field1',
              title: 'title'
            },
            {
              field: 'field4',
              title: 'title'
            }
          ]
        }
      ],
      fixed: {
        colCount: 0,
        rightColCount: 0
      }
    });
    
    
    
    
    

  
  });
  //# sourceURL=preview/<%= TEMP_DIR %>/haha.js
</script>