<!--
  DEWS UI/UX IDE - Build Result - v1.5
  # PageID: HH0
  # PageTitle: HH0
  # Server: http://localhost:8080/
-->

<div class="dews-ui-condition-panel">
  <ul class="required-area">
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <button class="dews-ui-button">Button</button>
      </span>
    </li>
  </ul>
</div>
<div class="dews-ui-container-panel" style="overflow: visible;">
  <div class="dews-container-item" data-dews-position="normal">
    <div id="Grid1" class="dews-ui-grid"></div>
  </div>
</div>

<style>
  
</style>
<script>
  dews.ready(function () {
    var self = this;

    
    
    self.dataSource1 = dews.ui.dataSource('dataSource1', {
      grid: true,
      schema: {
        model: {
          fields: [
            { field: 'AA', editable: false, dataType: 'string' }, 
            { field: 'BB', editable: false, dataType: 'string' }
          ]
    
        }
      },
      data: [
      {
        "AA": "AA",
        "BB": "에이"
      },
      {
        "AA": "BB",
        "BB": "비"
      }
    ]
    });
    
    
    dews.ui.grid(self.$Grid1, {
      height: 400,
      sortable: false,
      autoBind: false,
      checkable: false,
      fixed: {
        colCount: 0,
        rightColCount: 0
      }
    });
    
    
    
    
    

  
  });
  //# sourceURL=preview/<%= TEMP_DIR %>/HH0.js
</script>